.imj-wrap {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  padding: 0;
}

.imj-figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.imj-figure::before {
  padding-top: var(--ratio);
  background: #f2f2f2;
  content: '';
  display: block;
}

.imj-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.imj-caption {
  padding: 4px 0;
  line-height: 26px;
  text-align: center;
}

.imj-wrap--success-loaded .imj-figure::before{
  background: transparent;
}

.imj-wrap--error-loaded .imj-img {
  display: none;
}

.imj-wrap--hide {
  display: none;
}